@model IEnumerable<AsyncInn.Models.RoomPlan>
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<body>
    <header>
        <h2>Room Plans</h2>
        <div class="itemcount">
            <p>Count</p>
            <p>@Html.TextBox("count", Model.Count().ToString())</p>
        </div>
        <p>Room plans are combinations of size layouts and amenity groups.</p>
        <p>Create a new room plan by selecting the room size.</p>
        <p>Configure the amenities for the new room plan on the 'Amenity Configurations' page.</p>
        <p>
            <a asp-action="Create">Click here to create a new room plan.</a>
        </p>
        <p>
            <a asp-controller="Home"
               asp-action="Index">Go Home</a>
        </p>
    </header>
    <form asp-controller="RoomPlan" asp-action="Index" method="get" class="form-group">
        <p>
            <input type="text" placeholder="Enter search criteria" name="SearchString">
            <input type="submit" value="Search" class="btn btn-primary">
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Layout)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomConfigGroup)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomConfigGroup.Count)
                </td>
                <td>
                    <a id="item-links" asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
                <td>
                    <a id="item-links" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>