@model IEnumerable<AsyncInn.Models.Inventory>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<body>
    <header>
        <h2>Rooms Inventory</h2>
        <div class="itemcount">
            <p>Count</p>
            <p>@Html.TextBox("count", Model.Count().ToString())</p>
        </div>
        <p>This is a complete inventory of all rooms in all Async Inn locations.</p>
        <p>
            <a asp-action="Create">Click here to add a room to a specific location.</a>
        </p>
        <p>
            <a asp-controller="Home"
               asp-action="Index">Go Home</a>
        </p>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomPlan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetsOK)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomPlan.RoomConfigGroup)
                </th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomPlan.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetsOK)
                </td>
                @*HELP! How to display count? The 'th' is rendering, but it's blank.*@
                <th>
                    @Html.DisplayFor(modelItem => item.RoomPlan.RoomConfigGroup.Count)
                </th>
                <td class="item-links">
                    @Html.ActionLink("Edit", "Edit", new { item.HotelID, item.RoomNumber }) |
                    @Html.ActionLink("Details", "Details", new { item.HotelID, item.RoomNumber }) @*|
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
