@model IEnumerable<AsyncInn.Models.RoomConfig>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<body>
    <header>
        <h2>Amenity Configurations</h2>
        <p>An amenity configuration is the grouping of amenities found in a particular room plan.</p>
        <p>Use this page to create an amenity configuration for an existing room plan.</p>
        <p>(To create a room plan to configure, visit the 'Room Plans' page.)</p>
        <p>
            <a asp-action="Create">Click here to add amenities to an existing room plan.</a>
        </p>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomPlan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amenity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomPlan.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amenity.ID)
                    </td>
                    <td class="item-links">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
