@model IEnumerable<AsyncInn.Models.RoomPlan>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <header>
        <h2>Room Plans</h2>
        <p>Room plans are combinations of size layouts and amenity groups.</p>
        <p>Create a new room plan by selecting the room size.</p>
        <p>Configure the amenities for the new room plan on the 'Amenity Configurations' page.</p>
        <p>
            <a asp-action="Create">Click here to create a new room plan.</a>
        </p>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Layout)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Layout)
                    </td>
                    <td>
                        <a id="item-links" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a id="item-links" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a id="item-links" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>